.appointments {
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.appointments .form-step-tracker {
  display: inline-flex;
  align-items: center;
}

.appointments .form-container {
  padding: 1em;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  /* flex-basis: 100%;
  padding: 1em 2em;
  display: flex;
  min-height: 100%; */
}

.appointments form {
  flex-grow: 1;
  /* flex-basis: 100%; */
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.appointments .form-controls {
  display: flex;
  gap: 0.5em;
  align-self: flex-end;
  margin-bottom: 2.5em;
}

.appointments button {
  margin-top: 0.25em;
  align-self: flex-end;
  padding: 0.5em 1em;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: lightgreen;
}

.appointments button.next {
  background-color: var(--primary-color);
  color: #fff;
}

.appointments button.previous:hover:not(:disabled) {
  background-color: #ccc;
}

.appointments button.next:hover {
  background-color: var(--primary-color-dark);
}
/* .appointment .barber {
  max-width: min-content;
} */

.appointments .barbers img {
  max-width: 200px;
}

/* .login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-container .form-container {
  padding: 1em;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

button[type="submit"] {
  margin-top: 0.25em;
  align-self: flex-end;
  padding: 0.5em 1em;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: lightgreen;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 1.5em;
} */
