header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1f1b1b;
  color: #ddd;
}

.header-logo {
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
  margin: 0.5em;
  cursor: pointer;
}

.header-logo .text {
  padding-top: 0.25rem;
}

header .book-appointment {
  border: 1px solid #888;
  margin: 0 auto;
  padding: 0.5em 0.75em 0.3em 0.75em;
  background-color: var(--primary-color);
  color: #ccc;
  border-radius: 5px;
  min-width: max-content;
}

header .login-logout {
  display: flex;
  gap: 2em;
  display: inline-flex;
  align-items: center;
  margin-right: 5em;
}

header a {
  color: #c42121;
  text-decoration: none;
  font-size: 1.5rem;
  /* font-family: "Yanone Kaffeesatz", sans-serif; */
  font-weight: bold;
  letter-spacing: 0.2px;
}

.cart-icon {
  color: #c42121;
  cursor: not-allowed;
}
